* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #121212;
  color: #ffffff;
  min-height: 100vh;
}

/* Center container */
.center-box {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Card */
.card {
  background: #181818;
  padding: 40px;
  border-radius: 12px;
  width: 100%;
  max-width: 380px;
  text-align: center;
}

h1 {
  margin-bottom: 10px;
}

p {
  color: #b3b3b3;
  margin-bottom: 25px;
}

/* Inputs */
input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: none;
  outline: none;
}

/* Button */
button {
  width: 100%;
  padding: 12px;
  background: #1db954;
  border: none;
  border-radius: 25px;
  color: black;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

/* Player page */
.player {
  padding: 30px;
}

.audio-box {
  background: #181818;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.playlist div {
  padding: 12px;
  border-bottom: 1px solid #333;
  cursor: pointer;
}

.playlist div:hover {
  background: #222;
}
